/*** ESSENTIAL STYLES ***/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu li {
  position: relative; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */ }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5); }

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */ }

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5); }

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

ul.tabs li {
  background: none;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #000; }

ul.tabs li.current {
  background: #fff;
  color: #000;
  border-bottom: none;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000; }

.tab-content {
  display: none;
  background: #fff; }

.tab-content.current {
  display: inherit; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em; }
  body header {
    background-image: url("../img/header-top.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0; }
    body header .head {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 1200px) {
        body header .head {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 960px) {
        body header .head {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 780px) {
        body header .head {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 560px) {
        body header .head {
          padding-left: 15px;
          padding-right: 15px; } }
      body header .head .change-lang {
        position: absolute;
        top: -10px;
        right: 15px; }
        body header .head .change-lang select {
          font-size: 16px;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid #fff;
          color: #fff; }
          body header .head .change-lang select:focus {
            outline: none; }
      @media screen and (max-width: 780px) {
        body header .head .logo {
          -webkit-flex-basis: 100px;
              -ms-flex-preferred-size: 100px;
                  flex-basis: 100px; } }
      body header .head .logo img {
        width: 100%;
        max-width: 80px; }
      body header .head .main-menu {
        width: -webkit-calc(50% - 15px);
        width: calc(50% - 15px); }
        @media screen and (max-width: 780px) {
          body header .head .main-menu {
            -webkit-box-ordinal-group: 6;
            -webkit-order: 5;
                -ms-flex-order: 5;
                    order: 5; } }
        @media screen and (max-width: 780px) {
          body header .head .main-menu {
            width: -webkit-calc(100% - 15px);
            width: calc(100% - 15px); } }
        @media screen and (max-width: 780px) {
          body header .head .main-menu {
            -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%; } }
        body header .head .main-menu ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around; }
          @media screen and (max-width: 560px) {
            body header .head .main-menu ul {
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                      justify-content: space-between; } }
          body header .head .main-menu ul li {
            text-align: center;
            border-bottom: 1px solid rgba(1, 1, 1, 0);
            padding: 0 10px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            font-size: 18px;
            color: #fff;
            -webkit-align-self: center;
                -ms-flex-item-align: center;
                        -ms-grid-row-align: center;
                    align-self: center; }
            body header .head .main-menu ul li a {
              text-decoration: none;
              color: #ffffff;
              font-size: 18px; }
            body header .head .main-menu ul li:hover {
              border-bottom: 1px solid #fff;
              -webkit-transition: all 0.5s;
              transition: all 0.5s; }
            body header .head .main-menu ul li ul.sub-menu {
              position: absolute;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column;
              background-color: #fff;
              width: 100%; }
              body header .head .main-menu ul li ul.sub-menu li {
                padding: 0;
                text-align: left;
                border: 1px solid rgba(255, 255, 255, 0); }
                body header .head .main-menu ul li ul.sub-menu li:hover {
                  border-bottom: 1px solid #000; }
                body header .head .main-menu ul li ul.sub-menu li a {
                  border: 1px solid rgba(255, 255, 255, 0);
                  color: #000;
                  font-size: 14px; }
                  body header .head .main-menu ul li ul.sub-menu li a:hover {
                    border-bottom: 1px solid #fff; }
      @media screen and (max-width: 780px) {
        body header .head .search {
          -webkit-flex-basis: 270px;
              -ms-flex-preferred-size: 270px;
                  flex-basis: 270px; } }
      @media screen and (max-width: 560px) {
        body header .head .search {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; } }
      @media screen and (max-width: 560px) {
        body header .head .search {
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
              -ms-flex-order: 3;
                  order: 3; } }
      body header .head .search form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        body header .head .search form input {
          width: 155px;
          color: #ffffff;
          border-bottom: 1px solid #fff;
          border-top: none;
          border-left: none;
          border-right: none;
          background-color: rgba(255, 255, 255, 0); }
          body header .head .search form input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.9);
            letter-spacing: 0.2em;
            font-size: 13px; }
          body header .head .search form input::-moz-placeholder {
            color: rgba(255, 255, 255, 0.9);
            letter-spacing: 0.2em;
            font-size: 13px; }
          body header .head .search form input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.9);
            letter-spacing: 0.2em;
            font-size: 13px; }
          body header .head .search form input::placeholder {
            color: rgba(255, 255, 255, 0.9);
            letter-spacing: 0.2em;
            font-size: 13px; }
          body header .head .search form input:focus {
            outline: none; }
        body header .head .search form button {
          background-color: rgba(1, 1, 1, 0);
          border: none;
          color: #fff;
          font-size: 18px;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
          body header .head .search form button:hover {
            color: #000;
            background-color: #fff;
            -webkit-transition: all 0.5s;
            transition: all 0.5s; }
          body header .head .search form button:focus {
            outline: none; }
      body header .head .reg {
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end; }
        @media screen and (max-width: 780px) {
          body header .head .reg {
            -webkit-flex-basis: 76px;
                -ms-flex-preferred-size: 76px;
                    flex-basis: 76px; } }
        @media screen and (max-width: 560px) {
          body header .head .reg {
            -webkit-flex-basis: 150px;
                -ms-flex-preferred-size: 150px;
                    flex-basis: 150px; } }
        @media screen and (max-width: 560px) {
          body header .head .reg {
            -webkit-box-ordinal-group: 3;
            -webkit-order: 2;
                -ms-flex-order: 2;
                    order: 2; } }
        body header .head .reg ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          @media screen and (max-width: 960px) {
            body header .head .reg ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column; } }
          @media screen and (max-width: 560px) {
            body header .head .reg ul {
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                      flex-direction: row; } }
          body header .head .reg ul li {
            position: relative; }
            body header .head .reg ul li a {
              color: #ffffff;
              text-decoration: none;
              font-size: 14px; }
            body header .head .reg ul li:hover {
              -webkit-transition: all 0.5s;
              transition: all 0.5s;
              text-decoration: underline; }
            body header .head .reg ul li:first-child {
              padding-right: 10px; }
              body header .head .reg ul li:first-child:after {
                position: absolute;
                content: ' ';
                background-color: #fff;
                height: 25px;
                width: 2px;
                right: 4px; }
  body .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 50px; }
    body .content .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media screen and (max-width: 1200px) {
        body .content .container {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 960px) {
        body .content .container {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 780px) {
        body .content .container {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 560px) {
        body .content .container {
          padding-left: 15px;
          padding-right: 15px; } }
      body .content .container .menu ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        body .content .container .menu ul li {
          font-size: 15px;
          padding: 0 10px; }
      body .content .container .results {
        margin-left: -webkit-calc(0% + 7.5px);
        margin-left: calc(0% + 7.5px); }
        @media screen and (max-width: 1200px) {
          body .content .container .results {
            width: -webkit-calc(83.33333% - 15px);
            width: calc(83.33333% - 15px); } }
        @media screen and (max-width: 1200px) {
          body .content .container .results {
            margin-left: -webkit-calc(8.33333% + 7.5px);
            margin-left: calc(8.33333% + 7.5px); } }
        @media screen and (max-width: 960px) {
          body .content .container .results {
            width: -webkit-calc(83.33333% - 15px);
            width: calc(83.33333% - 15px); } }
        @media screen and (max-width: 960px) {
          body .content .container .results {
            margin-left: -webkit-calc(8.33333% + 7.5px);
            margin-left: calc(8.33333% + 7.5px); } }
        @media screen and (max-width: 560px) {
          body .content .container .results {
            width: -webkit-calc(100% - 15px);
            width: calc(100% - 15px); } }
        @media screen and (max-width: 780px) {
          body .content .container .results {
            width: -webkit-calc(100% - 15px);
            width: calc(100% - 15px); } }
        @media screen and (max-width: 780px) {
          body .content .container .results {
            margin-left: -webkit-calc(0% + 7.5px);
            margin-left: calc(0% + 7.5px); } }
        body .content .container .results a {
          text-decoration: none;
          line-height: 3;
          color: #000; }
          body .content .container .results a:hover {
            text-decoration: underline; }
        body .content .container .results .res {
          margin-bottom: 20px;
          padding: 20px;
          border: 1px solid #000;
          -webkit-border-radius: 8px;
                  border-radius: 8px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          @media screen and (max-width: 560px) {
            body .content .container .results .res {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column; } }
          body .content .container .results .res img {
            width: 120px;
            height: auto;
            margin-right: 30px; }
          body .content .container .results .res .text a {
            font-size: 20px;
            text-decoration: none;
            color: #000; }
          body .content .container .results .res .text p {
            font-size: 14px; }
      body .content .container .sell a {
        text-decoration: none;
        line-height: 3;
        color: #000; }
        body .content .container .sell a:hover {
          text-decoration: underline; }
      body .content .container .sell .sell-article {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        body .content .container .sell .sell-article ul {
          -webkit-flex-basis: 450px;
              -ms-flex-preferred-size: 450px;
                  flex-basis: 450px; }
          @media screen and (max-width: 560px) {
            body .content .container .sell .sell-article ul {
              -webkit-flex-basis: 290px;
                  -ms-flex-preferred-size: 290px;
                      flex-basis: 290px; } }
          body .content .container .sell .sell-article ul .top-sell {
            margin: 0 0 20px 0; }
            body .content .container .sell .sell-article ul .top-sell h2 {
              font-size: 20px; }
          body .content .container .sell .sell-article ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: 20px; }
            body .content .container .sell .sell-article ul li input {
              width: 190px;
              border-bottom: 1px solid #000;
              border-top: none;
              border-right: none;
              border-left: none; }
              body .content .container .sell .sell-article ul li input:focus {
                outline: none; }
            body .content .container .sell .sell-article ul li textarea {
              resize: none;
              width: 190px;
              border: 1px solid #000; }
              body .content .container .sell .sell-article ul li textarea:focus {
                outline: none; }
            body .content .container .sell .sell-article ul li .btn {
              width: 100%;
              margin-top: 20px;
              text-align: center; }
              body .content .container .sell .sell-article ul li .btn a {
                background-color: #000;
                font-size: 22px;
                color: #fff;
                text-decoration: none;
                -webkit-border-radius: 5px;
                        border-radius: 5px;
                padding: 10px 40px; }
    body .content .find-used {
      padding-top: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
      margin: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body .content .find-used ul {
        -webkit-flex-basis: 450px;
            -ms-flex-preferred-size: 450px;
                flex-basis: 450px; }
        @media screen and (max-width: 560px) {
          body .content .find-used ul {
            -webkit-flex-basis: 290px;
                -ms-flex-preferred-size: 290px;
                    flex-basis: 290px; } }
        body .content .find-used ul li {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          margin-bottom: 20px; }
          body .content .find-used ul li .btn {
            width: 100%;
            margin-top: 20px;
            text-align: center; }
            body .content .find-used ul li .btn a {
              background-color: #000;
              font-size: 22px;
              color: #fff;
              text-decoration: none;
              -webkit-border-radius: 5px;
                      border-radius: 5px;
              padding: 10px 40px; }
          body .content .find-used ul li select {
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            border: 1px solid #000;
            -webkit-flex-basis: 220px;
                -ms-flex-preferred-size: 220px;
                    flex-basis: 220px;
            background-color: #fff; }
            @media screen and (max-width: 560px) {
              body .content .find-used ul li select {
                -webkit-flex-basis: 165px;
                    -ms-flex-preferred-size: 165px;
                        flex-basis: 165px; } }
            body .content .find-used ul li select:focus {
              outline: none; }
            body .content .find-used ul li select option i {
              color: #000; }
    body .content .cont {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #000;
      font-size: 14px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 15px 0; }
      @media screen and (max-width: 1200px) {
        body .content .cont {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 960px) {
        body .content .cont {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 780px) {
        body .content .cont {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 560px) {
        body .content .cont {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 560px) {
        body .content .cont {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      body .content .cont ul.phone li:first-child, body .content .cont ul.add li:first-child {
        position: relative;
        margin-bottom: 10px; }
        body .content .cont ul.phone li:first-child::after, body .content .cont ul.add li:first-child::after {
          position: absolute;
          content: ' ';
          width: 100%;
          height: 1px;
          background-color: #000;
          bottom: -5px;
          left: 0; }
      body .content .cont .cont-info {
        -webkit-flex-basis: 160px;
            -ms-flex-preferred-size: 160px;
                flex-basis: 160px; }
        @media screen and (max-width: 560px) {
          body .content .cont .cont-info {
            -webkit-flex-basis: 120px;
                -ms-flex-preferred-size: 120px;
                    flex-basis: 120px; } }
      body .content .cont .address {
        -webkit-flex-basis: 250px;
            -ms-flex-preferred-size: 250px;
                flex-basis: 250px; }
        @media screen and (max-width: 560px) {
          body .content .cont .address {
            -webkit-flex-basis: 160px;
                -ms-flex-preferred-size: 160px;
                    flex-basis: 160px; } }
    body .content .home-page {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media screen and (max-width: 1200px) {
        body .content .home-page {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 960px) {
        body .content .home-page {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 780px) {
        body .content .home-page {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 560px) {
        body .content .home-page {
          padding-left: 15px;
          padding-right: 15px; } }
      body .content .home-page h1 {
        font-size: 48px;
        line-height: 2.5; }
      body .content .home-page p {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 1.5; }
    body .content .main-window {
      padding: 0 0 50px 0; }
      body .content .main-window .make ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        text-align: center; }
        body .content .main-window .make ul li {
          padding: 40px 0 0 0; }
          @media screen and (max-width: 780px) {
            body .content .main-window .make ul li {
              -webkit-flex-basis: 50%;
                  -ms-flex-preferred-size: 50%;
                      flex-basis: 50%; } }
          body .content .main-window .make ul li a {
            -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
            text-decoration: none;
            font-size: 18px;
            color: #000; }
            body .content .main-window .make ul li a:hover {
              -webkit-filter: grayscale(0%);
                      filter: grayscale(0%);
              text-decoration: underline; }
            body .content .main-window .make ul li a img {
              width: 100px; }
      body .content .main-window .body-style ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        text-align: center; }
        body .content .main-window .body-style ul li {
          padding: 40px 0 0 0; }
          @media screen and (max-width: 560px) {
            body .content .main-window .body-style ul li {
              -webkit-flex-basis: 50%;
                  -ms-flex-preferred-size: 50%;
                      flex-basis: 50%; } }
          body .content .main-window .body-style ul li a {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
            text-decoration: none;
            font-size: 18px;
            color: #000; }
            body .content .main-window .body-style ul li a:hover {
              -webkit-filter: grayscale(0%);
                      filter: grayscale(0%); }
            body .content .main-window .body-style ul li a img {
              width: 100px;
              text-align: center; }
      body .content .main-window .price {
        padding: 40px 0 0 0; }
        body .content .main-window .price ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          body .content .main-window .price ul li a {
            text-decoration: none;
            font-size: 18px;
            color: #000;
            -webkit-transition: all 0.5s;
            transition: all 0.5s; }
            body .content .main-window .price ul li a:hover {
              text-decoration: underline;
              -webkit-transition: all 0.5s;
              transition: all 0.5s; }
      body .content .main-window .options .container .find-car {
        padding-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-left: -7.5px;
        margin-right: -7.5px;
        margin: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        body .content .main-window .options .container .find-car ul {
          -webkit-flex-basis: 450px;
              -ms-flex-preferred-size: 450px;
                  flex-basis: 450px; }
          @media screen and (max-width: 560px) {
            body .content .main-window .options .container .find-car ul {
              -webkit-flex-basis: 290px;
                  -ms-flex-preferred-size: 290px;
                      flex-basis: 290px; } }
          body .content .main-window .options .container .find-car ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: 20px; }
            body .content .main-window .options .container .find-car ul li .btn {
              width: 100%;
              margin-top: 20px;
              text-align: center; }
              body .content .main-window .options .container .find-car ul li .btn a {
                background-color: #000;
                font-size: 22px;
                color: #fff;
                text-decoration: none;
                -webkit-border-radius: 5px;
                        border-radius: 5px;
                padding: 10px 40px; }
            body .content .main-window .options .container .find-car ul li select {
              -webkit-border-radius: 5px;
                      border-radius: 5px;
              border: 1px solid #000;
              -webkit-flex-basis: 220px;
                  -ms-flex-preferred-size: 220px;
                      flex-basis: 220px;
              background-color: #fff; }
              @media screen and (max-width: 560px) {
                body .content .main-window .options .container .find-car ul li select {
                  -webkit-flex-basis: 150px;
                      -ms-flex-preferred-size: 150px;
                          flex-basis: 150px; } }
              body .content .main-window .options .container .find-car ul li select:focus {
                outline: none; }
              body .content .main-window .options .container .find-car ul li select option i {
                color: #000; }
      body .content .main-window .options .container .trade-in .trade-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border: none;
        -webkit-flex-basis: 220px;
            -ms-flex-preferred-size: 220px;
                flex-basis: 220px; }
        @media screen and (max-width: 560px) {
          body .content .main-window .options .container .trade-in .trade-btn {
            -webkit-flex-basis: 150px;
                -ms-flex-preferred-size: 150px;
                    flex-basis: 150px; } }
  body footer {
    width: 100%;
    background-image: url("../img/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    body footer .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: rgba(255, 255, 255, 0.6);
      font-size: 11px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 15px 0; }
      @media screen and (max-width: 1200px) {
        body footer .container {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 960px) {
        body footer .container {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 780px) {
        body footer .container {
          padding-left: 15px;
          padding-right: 15px; } }
      @media screen and (max-width: 560px) {
        body footer .container {
          padding-left: 15px;
          padding-right: 15px; } }
      body footer .container ul.phone li:first-child, body footer .container ul.add li:first-child {
        position: relative;
        margin-bottom: 10px; }
        body footer .container ul.phone li:first-child::after, body footer .container ul.add li:first-child::after {
          position: absolute;
          content: ' ';
          width: 100%;
          height: 1px;
          background-color: #fff;
          bottom: -5px;
          left: 0; }
      body footer .container .cont-info {
        -webkit-flex-basis: 120px;
            -ms-flex-preferred-size: 120px;
                flex-basis: 120px; }
        @media screen and (max-width: 560px) {
          body footer .container .cont-info {
            -webkit-flex-basis: 120px;
                -ms-flex-preferred-size: 120px;
                    flex-basis: 120px; } }
      body footer .container .address {
        -webkit-flex-basis: 185px;
            -ms-flex-preferred-size: 185px;
                flex-basis: 185px; }
        @media screen and (max-width: 560px) {
          body footer .container .address {
            -webkit-flex-basis: 160px;
                -ms-flex-preferred-size: 160px;
                    flex-basis: 160px; } }
      body footer .container .socials {
        -webkit-flex-basis: 150px;
            -ms-flex-preferred-size: 150px;
                flex-basis: 150px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        @media screen and (max-width: 780px) {
          body footer .container .socials {
            -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%; } }
        body footer .container .socials ul {
          width: 150px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          body footer .container .socials ul li a {
            color: rgba(255, 255, 255, 0.6);
            font-size: 20px; }
            body footer .container .socials ul li a:hover {
              color: white; }
      body footer .container .copy {
        margin: 20px 0 0 0;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        text-align: center;
        font-size: 9px; }

@media screen and (min-width: 561px) {
  .body-style ul li {
    padding: 40px 16px 0 16px !important; } }

@media screen and (max-width: 780px) {
  .search form input {
    width: 250px !important; }
  header {
    padding: 15px 0px 0px 0px !important; } }

@media screen and (max-width: 1100px) {
  .main-menu ul li a {
    font-size: 17px !important; }
  .main-menu ul li {
    font-size: 17px !important; }
  ul.sub-menu li a {
    font-size: 17px !important; } }

@media screen and (max-width: 960px) {
  .res {
    padding: 2px !important; }
    .res p {
      font-size: 12px !important; }
  .reg ul li::after {
    width: 76px !important;
    height: 2px !important;
    right: 0px !important;
    top: 25px !important; }
  .reg ul li {
    padding: 0 !important; }
  .main-menu ul li a {
    font-size: 15px !important;
    padding: 10px 0px !important; }
  .main-menu ul li {
    padding: 0 2px !important;
    font-size: 15px !important; }
  ul.sub-menu li a {
    font-size: 12px !important; } }

@media screen and (max-width: 560px) {
  .res {
    padding: 2px !important;
    text-align: center !important; }
    .res p {
      font-size: 10px !important; }
  .main-menu ul li a {
    padding: 10px 0px !important; }
  .search form input {
    width: 100% !important; }
  .main-menu {
    margin-top: 20px !important; }
  .reg ul li::after {
    width: 2px !important;
    height: 25px !important;
    right: 4px !important;
    top: 0px !important; }
  .reg ul li:first-child {
    padding-right: 10px !important; }
  .search {
    margin-top: 15px !important; }
  .socials {
    margin-top: 15px !important; } }

@media screen and (max-width: 400px) {
  .main-menu ul li a {
    font-size: 13px !important; }
  .main-menu ul li {
    padding: 0 2px !important;
    font-size: 12px !important; }
  ul.sub-menu li a {
    font-size: 12px !important; }
  ul.tabs li {
    font-size: 12px !important;
    padding: 0 4px !important; } }
