@import 'app/libs/sass-mediaqueries/_media-queries.scss' //media queries

@import 'app/libs/superfish/src/css/superfish'

@import 'smart-grid.sass'

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')


$main-color: #604BD8

$main-font-color: #ffffff

$main-back-color: #A296E5

+reset
//-----------------tabs-------------------//

ul.tabs li
    background: none
    color: #000
    cursor: pointer
    border-bottom: 1px solid #000
ul.tabs li.current
    background: #fff
    color: #000
    border:
        bottom: none
        top: 1px solid #000
        right: 1px solid #000
        left: 1px solid #000

.tab-content
    display: none
    background: #fff
.tab-content.current
    display: inherit
//-----------------tabs-------------------//

body
    display: flex
    flex-direction: column
    min-height: 100vh
    font-family: 'Lato', arial, sans-serif
    line-height: 1.5
    letter-spacing: 0.1em

    header

        background:
            image: url("../img/header-top.png")
            size: cover
            position: center
            repeat: no-repeat
        padding: 30px 0

        .head
            position: relative
            +row-flex
            +wrapper
            justify-content: space-between
            align-items: center
            .change-lang
                position: absolute
                top: -10px
                right: 15px
                select
                    font-size: 16px
                    background-color: rgba(255, 255, 255, 0.0)
                    border: 1px solid #fff
                    color: #fff
                    &:focus
                        outline: none
            .logo
                +flex-basis-sm(100px)
                img
                    width: 100%
                    max-width: 80px
            .main-menu
                +order-sm(5)
                +col-6
                +col-sm-12
                +flex-basis-sm(100%)
                ul
                    display: flex
                    justify-content: space-around
                    +justify-content-xs(space-between)
                    li
                        text-align: center
                        border-bottom: 1px solid rgba(1,1,1, 0.0)
                        padding: 0 10px
                        transition: all 0.5s
                        font-size: 18px
                        color: #fff
                        align-self: center
                        a
                            text-decoration: none
                            color: $main-font-color
                            font-size: 18px
                            &:hover
                        &:hover
                            border-bottom: 1px solid #fff
                            transition: all 0.5s
                        ul.sub-menu
                            position: absolute
                            display: flex
                            flex-direction: column
                            background-color: #fff
                            width: 100%
                            li
                                padding: 0
                                text-align: left
                                border: 1px solid rgba(255, 255, 255, 0.0)
                                &:hover
                                    border-bottom: 1px solid #000
                                a
                                    border: 1px solid rgba(255, 255, 255, 0.0)
                                    color: #000
                                    font-size: 14px
                                    &:hover
                                        border-bottom: 1px solid #fff

            .search
                +flex-basis-sm(270px)
                +flex-basis-xs(100%)
                +order-xs(3)
                form
                    display: flex
                    input
                        width: 155px
                        color: $main-font-color
                        &::placeholder
                            color: rgba(255, 255, 255, 0.9)
                            letter-spacing: 0.2em
                            font-size: 13px
                        border:
                            bottom: 1px solid #fff
                            top: none
                            left: none
                            right: none
                        background-color: rgba(255, 255, 255, 0.0)
                        &:focus
                            outline: none

                    button
                        background-color: rgba(1,1,1,0.0)
                        // border: 1px solid #fff
                        // border-bottom: none
                        border: none
                        color: #fff
                        font-size: 18px
                        transition: all 0.5s
                        padding:
                        &:hover
                            color: #000
                            background-color: #fff
                            transition: all 0.5s
                        &:focus
                            outline: none
            .reg
                +flex-basis-sm(76px)
                +flex-basis-xs(150px)
                +order-xs(2)
                align-self: flex-end
                ul
                    display: flex
                    +flex-direction-md(column)
                    +flex-direction-xs(row)
                    align-items: center
                    li
                        position: relative

                        a
                            color: $main-font-color
                            text-decoration: none
                            font-size: 14px
                        &:hover
                            transition: all 0.5s
                            text-decoration: underline
                        &:first-child
                            padding-right: 10px
                            &:after
                                position: absolute
                                content: ' '
                                background-color: #fff
                                height: 25px
                                width: 2px
                                right: 4px
    .content
        flex: 1
        padding-top: 50px
        .container
            +row-flex
            +wrapper
            flex-direction: column
            .menu
                ul
                    display: flex
                    justify-content: center
                    li
                        font-size: 15px
                        padding: 0 10px
            .results
                +col-lg-10
                +offset-left-lg(1)
                +col-md-10
                +offset-left-md(1)
                +col-xs-12
                +offset-left(0)
                +col-sm-12
                +offset-left-sm(0)
                a
                    text-decoration: none
                    line-height: 3
                    color: #000
                    &:hover
                        text-decoration: underline
                .res
                    margin-bottom: 20px
                    padding: 20px
                    border: 1px solid #000
                    border-radius: 8px
                    display: flex
                    align-items: center
                    +flex-direction-xs(column)
                    img
                        width: 120px
                        height: auto
                        margin-right: 30px
                    .text

                        a
                            font-size: 20px
                            text-decoration: none
                            color: #000
                        p
                            font-size: 14px
            .sell
                a
                    text-decoration: none
                    line-height: 3
                    color: #000
                    &:hover
                        text-decoration: underline
                .sell-article
                    display: flex
                    justify-content: center
                    ul
                        flex-basis: 450px
                        +flex-basis-xs(290px)
                        .top-sell
                            margin: 0 0 20px 0
                            h2
                                font-size: 20px
                        li
                            display: flex
                            justify-content: space-between
                            margin-bottom: 20px
                            input
                                width: 190px
                                border:
                                    bottom: 1px solid #000
                                    top: none
                                    right: none
                                    left: none
                                &:focus
                                    outline: none
                            textarea
                                resize: none
                                width: 190px
                                border: 1px solid #000
                                &:focus
                                    outline: none
                            .btn
                                width: 100%
                                margin-top: 20px
                                text-align: center
                                a
                                    background-color: #000
                                    font-size: 22px
                                    color: #fff
                                    text-decoration: none
                                    border-radius: 5px
                                    padding: 10px 40px
        .find-used
            padding-top: 40px
            +row-flex
            margin: 0
            justify-content: center
            ul
                +flex-basis-xs(290px)
                +flex-basis(450px)
                li
                    display: flex
                    justify-content: space-between
                    margin-bottom: 20px
                    .btn
                        width: 100%
                        margin-top: 20px
                        text-align: center
                        a
                            background-color: #000
                            font-size: 22px
                            color: #fff
                            text-decoration: none
                            border-radius: 5px
                            padding: 10px 40px
                    select
                        border-radius: 5px
                        border: 1px solid #000
                        +flex-basis(220px)
                        +flex-basis-xs(165px)
                        background-color: #fff
                        &:focus
                            outline: none
                        option
                            i
                                color: #000
        .cont
            +row-flex
            +wrapper
            justify-content: space-between
            color: #000
            font-size: 14px
            align-items: flex-start
            padding: 15px 0
            +flex-direction-xs(column)
            ul.phone, ul.add
                li
                    &:first-child
                        position: relative
                        margin-bottom: 10px
                        &::after
                            position: absolute
                            content: ' '
                            width: 100%
                            height: 1px
                            background-color: #000
                            bottom: -5px
                            left: 0
            .cont-info
                +flex-basis(160px)
                +flex-basis-xs(120px)
            .address
                +flex-basis(250px)
                +flex-basis-xs(160px)
        .home-page
            +row-flex
            +wrapper
            flex-direction: column
            h1
                font-size: 48px
                line-height: 2.5
            p
                margin-bottom: 30px
                font-size: 20px
                line-height: 1.5
        .main-window
            padding: 0 0 50px 0
            .make
                ul
                    display: flex
                    align-items: center
                    justify-content: space-around
                    flex-wrap: wrap
                    text-align: center
                    li
                        +flex-basis-sm(50%)

                        padding: 40px 0 0 0
                        a
                            filter: grayscale(100%)
                            text-decoration: none
                            font-size: 18px
                            color: #000
                            &:hover
                                filter: grayscale(0%)
                                text-decoration: underline
                            img
                                width: 100px
            .body-style
                ul
                    display: flex
                    justify-content: center
                    align-items: flex-end
                    flex-wrap: wrap
                    text-align: center
                    li
                        padding: 40px 0 0 0
                        +flex-basis-xs(50%)
                        a
                            display: flex
                            flex-direction: column
                            align-items: center
                            filter: grayscale(100%)
                            text-decoration: none
                            font-size: 18px
                            color: #000
                            &:hover
                                filter: grayscale(0%)
                            img
                                width: 100px
                                text-align: center
            .price
                padding: 40px 0 0 0
                ul
                    display: flex
                    flex-direction: column
                    align-items: center
                    li
                        a
                            text-decoration: none
                            font-size: 18px
                            color: #000
                            transition: all 0.5s
                            &:hover
                                text-decoration: underline
                                transition: all 0.5s
            .options
                .container
                    .find-car
                        padding-top: 40px
                        +row-flex
                        margin: 0
                        justify-content: center
                        ul
                            +flex-basis-xs(290px)
                            +flex-basis(450px)
                            li
                                display: flex
                                justify-content: space-between
                                margin-bottom: 20px
                                .btn
                                    width: 100%
                                    margin-top: 20px
                                    text-align: center
                                    a
                                        background-color: #000
                                        font-size: 22px
                                        color: #fff
                                        text-decoration: none
                                        border-radius: 5px
                                        padding: 10px 40px
                                select
                                    border-radius: 5px
                                    border: 1px solid #000
                                    +flex-basis(220px)
                                    +flex-basis-xs(150px)
                                    background-color: #fff
                                    &:focus
                                        outline: none
                                    option
                                        i
                                            color: #000
                    .trade-in
                        .trade-btn
                            display: flex
                            justify-content: space-around
                            align-items: center
                            border: none
                            +flex-basis(220px)
                            +flex-basis-xs(150px)


    footer
        width: 100%

        background:
            image: url("../img/footer.png")
            size: cover
            position: center
            repeat: no-repeat
        .container
            +row-flex
            +wrapper
            justify-content: space-between
            color: rgba(255, 255, 255, 0.6)
            font-size: 11px
            align-items: flex-start
            padding: 15px 0
            ul.phone, ul.add
                li
                    &:first-child
                        position: relative
                        margin-bottom: 10px
                        &::after
                            position: absolute
                            content: ' '
                            width: 100%
                            height: 1px
                            background-color: #fff
                            bottom: -5px
                            left: 0
            .cont-info
                +flex-basis(120px)
                +flex-basis-xs(120px)
            .address
                +flex-basis(185px)
                +flex-basis-xs(160px)
            .socials
                +flex-basis(150px)
                +flex-basis-sm(100%)
                display: flex
                justify-content: center
                ul
                    width: 150px
                    display: flex
                    justify-content: space-between
                    li
                        a
                            color: rgba(255, 255, 255, 0.6)
                            font-size: 20px
                            &:hover
                                color: rgba(255, 255, 255, 1)

            .copy
                margin: 20px 0 0 0
                +flex-basis(100%)
                text-align: center
                font-size: 9px







//----------------meaida--------------------//


@media screen and (min-width: 561px)
    .body-style ul li
        padding: 40px 16px 0 16px!important


@media screen and (max-width: 780px)
    .search form input
        width: 250px!important
    header
        padding: 15px 0px 0px 0px!important

@media screen and (max-width: 1100px)
    .main-menu ul li a
        font-size: 17px!important
    .main-menu ul li
        font-size: 17px!important
    ul.sub-menu li a
        font-size: 17px!important

@media screen and (max-width: 960px)
    .res
        padding: 2px!important
        .text

        p
            font-size: 12px!important
    .reg ul li::after
        width: 76px!important
        height: 2px!important
        right: 0px!important
        top: 25px!important
    .reg ul li
        padding: 0!important
    .main-menu ul li a
        font-size: 15px!important
        padding: 10px 0px!important
    .main-menu ul li
        padding: 0 2px!important
        font-size: 15px!important
    ul.sub-menu li a
        font-size: 12px!important
@media screen and (max-width: 560px)
    .res
        padding: 2px!important
        .text
        text-align: center!important

        p
            font-size: 10px!important

    .main-menu ul li a
        padding: 10px 0px!important
    .search form input
        width: 100%!important
    .main-menu
        margin-top: 20px!important
    .reg ul li::after
        width: 2px!important
        height: 25px!important
        right: 4px!important
        top: 0px!important
    .reg ul li:first-child
        padding-right: 10px!important
    .search
        margin-top: 15px!important
    .socials
        margin-top: 15px!important
@media screen and (max-width: 400px)
    .main-menu ul li a
        font-size: 13px!important
    .main-menu ul li
        padding: 0 2px!important
        font-size: 12px!important
    ul.sub-menu li a
        font-size: 12px!important
    ul.tabs li
        font-size: 12px!important
        padding: 0 4px!important
